.mic{
    color: black;
}

.pulse{
    color: #EE0979;
}

.categories_article{
    margin: 25px;
}
.categoriesList{
    margin-bottom: 5em;
}

.categoriesList a{
    text-decoration: none;
}

.albumLink{
    text-decoration: none;
}
