.music_background {
  height: 75px;
  width: 75px;
  border: #341931 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.music_background ion-icon[name="radio-outline"],
.music_background ion-icon[name="heart"],
.music_background ion-icon[name="musical-note"] {
  font-size: 42px;
  color: #341931;
}

.current_background ion-icon[name="radio-outline"],
.current_background ion-icon[name="heart"],
.current_background ion-icon[name="musical-note"] {
  font-size: 42px;
  color: white;
}

.current_background {
  height: 75px;
  width: 75px;
  background-color: #ff1168;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
